.feed {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  grid-auto-rows: 390px;
  margin: 40px 0 40px 0;
}

.card {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  transition: all 0.3s ease;
}

.wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card__category {
  font-family: Muli, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
  color: #ccf6c8;
  margin: 0;
  background: rgba(240, 102, 102, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
}

.card__title {
  font-family: Baskerville, serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  margin: 16px 0 0 0;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card:nth-child(1),
.card:nth-child(6),
.card:nth-child(7) {
  grid-column: span 6;
}

.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5),
.card:nth-child(8),
.card:nth-child(9) {
  grid-column-start: span 3;
}

@media (max-width: 1200px) {
  .card:nth-child(n) {
    grid-column-start: span 6;
  }
}

@media (max-width: 800px) {
  .card:nth-child(n) {
    grid-column-start: span 12;
  }
}
